body{
    font-family: "plus-jakarta-sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}

.navbar{
    height: 5rem;
    background-color: white;}

.fa-compass{
    color: red;
    font-size: 2rem;
}

.nav-link{
    color: black !important;
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info-links a{
    text-decoration: none;
    color: black !important;

}

.f-info-links a:hover{
    text-decoration:underline;
}
.f-info-links,.f-info-socials , .f-info-brand{
    width: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center; 
    justify-content: center;
}

/* .f-info-socials{
    width: 100%;
    margin-right: 3rem;
} */

.f-info-socials i{
    margin-right: 1rem;
      font-size: 1.2rem;
}
.f-info{
    text-align: center;
    display: flex;
    height: 5.5rem;
    background-color:gainsboro;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius:1rem !important ;
  
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
   padding: 0 !important;

}
.card-text p{
    font-weight: 400  !important;
}

.listing-link{
    text-decoration: none;
    color: black !important;
}

/* card effect */

.card-img-overlay{
    opacity: 0; 
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color:white;
}

.add-btn{
    background-color:#fe424d !important ;
    border: none !important;
}

/* edit button */

.edit-btn{
    background-color:#fe424d !important ;
    border: none !important;
}

.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}

/* Force navbar text to white */
.navbar a,
.navbar .nav-link,
.navbar-brand {
  color: #ffffff !important;
}

/* Hover effect */
.navbar a:hover {
  color: #dddddd !important;
}

.navbar .nav-link {
  transition: all 0.3s ease;
}

.navbar .nav-link:hover {
  color: #f8f9fa;
  text-decoration: underline;
}

.navbar .nav-link.active {
  border-bottom: 2px solid white;
}


/* Mobile menu */
.navbar-toggler {
  border-color: white;
}

.navbar-toggler-icon {
  filter: invert(1);
}

/* Leaflet map fix */
#map {
  height: 350px;
  width: 100%;
  z-index: 1;
}

.leaflet-container {
  background: #fff !important;
}

.leaflet-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
  z-index: 2 !important;
}
